body {
    background-color: beige;
}

.List {
    content:'';
    margin-top: 8%;
    margin-left: 45%;
    background-color: bisque;
    height: 500px;
    width: 250px;
    border: 3px dotted black;
}